<%- include("../../header.ejs")  %>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/createblog"> Create Blogs</a></li>
                            <li><a href="/admin/blogdisplay">Blogs display</a></li>
                            <li><a href="/admin/createcategory">Create Category</a></li>
                            <li><a href="/admin/displaycategory">Display Category</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                          <div class="dash-title">
                              <h1>Edit Category</h1>
                          </div>
                        </div>
                        <div class="blog-form">
                            <form action="/categoryupdate/<%=data._id %>" method="post">
                            <div class="form-group form-row">
                                <label class="col-md-3">Category Name<span class="required">*</span></label>
                                <div class="col-md-9">
                                  <input name="catname" type="text" class="form-control" placeholder="Title" required value="<%= data.catname %>">
                                </div>
                            </div>
                            <button class="btn btn-success">Submit</button>
                         
                          </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("../../footer.ejs") %>